body {
    text-align: center;
    margin-top: 200px;
    background-color: black;
  }
  
  #timer{
    font-family: "Lato";
    font-size: 100px;
    font-weight: 300;
    color: white;
  }

  #red {
    color: red;
  }